<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="DALPath" value="DAL"></add>
		<add key="SystemName" value="仪化数字调度会系统"></add>
	</appSettings>
	<connectionStrings>
		<add name="Conn" connectionString="server=139.196.15.126;database=WMS;uid=sa;pwd=Aa1234567" providerName="System.Data.SqlClient" />
		<!--<add name="Conn" connectionString="server=10.98.3.41;database=WMS;uid=sa;pwd=home.ycfc8888" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
</configuration>